// Stylesheet: Grids


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@mixin grid-unit {
	float: left;
	padding-right: 0.75em;
}

.last-col {
	padding-right: 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}



// Mobile Grid

@media (max-width: 767px) {

	.m-all {
		@include grid-unit;
		width: 100%;
		padding-right: 0;
	}
	.m-1-3 {
		@include grid-unit;
		width: 33.33%;
	}
	.m-2-3 {
		@include grid-unit;
		width: 66.66%;
	}
}

// Tablet Grid

@media (min-width: 768px) and (max-width: 1029px) {

	.t-all {
		@include grid-unit;
		width: 100%;
		padding-right: 0;
	}
	.t-1-2 {
		@include grid-unit;
		width: 100%;
	}
	.t-1-3 {
		@include grid-unit;
		width: 33.3%;
	}
	.t-2-3 {
		@include grid-unit;
		width: 66.66%;
	}
	.t-1-4 {
	    @include grid-unit;
	    width: 25%;
	}
  	.t-3-4 {
	    @include grid-unit;
	    width: 75%;
	}
}

// Desktop Grid

@media (min-width: 1030px) {
	.d-all {
		@include grid-unit;
		width: 100%;
		padding-right: 0;
	}
	.d-1-2 {
		@include grid-unit;
		width: 50%;
	}
	.d-1-3 {
		@include grid-unit;
		width: 33.33%;
	}
	.d-2-3 {
		@include grid-unit;
		width: 66.66%;
	}
	.d-1-4 {
		@include grid-unit;
		width: 25%;
	}
	.d-3-4 {
		@include grid-unit;
		width: 75%;
	}
	.d-1-6 {
		@include grid-col;
		width: 16.666667%;
	}
	.d-1-8 {
	    @include grid-unit;
	    width: 12.5%;
 	}
 	.d-1-10 {
	    @include grid-unit;
	    width: 10%;
	}
	.d-1-12{
		@include grid-unit;
		width: 8.33%;
	}
}